on:
  push:
    branches:
      - main
  pull_request:
    types: [closed]
    branches:
      - main
  workflow_dispatch: {}

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
